html
  head
    title Smile.js
    meta(charset='utf-8')
    meta(name='viewport')
    link(rel='stylesheet' href='style.css')
  body
    span(class='slogan') console.log(':D');
    span(class='botname') Smile.js
    div(id='text') Ein simpler Discord-Bot.<br><br><a href="https://discordapp.com/api/oauth2/authorize?client_id=516710113529167882&permissions=8&scope=bot">Bot einladen</a> | <a href="https://discord.gg/82hYC2j">Zum Support-Discord</a>
    